<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>seed-element</title>

  <script src="../../platform/platform.js"></script>
  <link rel="import" href="../../polymer-test-tools/tools.html">
  <script src="../../polymer-test-tools/htmltest.js"></script>
  
  <link rel="import" href="../image-slider.html">

</head>
<body>

    <image-slider>

    </image-slider>

    <script>

        document.addEventListener('polymer-ready', function() {
            var slider = document.querySelector('image-slider');

            assert.equal(slider.author, 'Paul Seiffert');
            assert.equal(slider.numItems, 0);
            assert.equal(slider.selected, 0);

            done();
        });

    </script>

</body>
</html>
